<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/yourcomic?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.mycompany.yourcomics.entity.User" />
        <mapping class="com.mycompany.yourcomics.entity.Comic" />
        <mapping class="com.mycompany.yourcomics.entity.Characters" />
        <mapping class="com.mycompany.yourcomics.entity.Genre" />
        <mapping class="com.mycompany.yourcomics.entity.Publisher" />


    </session-factory>
    
    
</hibernate-configuration>
